body{
	display: grid;
	align-content: center;
	justify-content: center;
	
	min-height: 100vh;
	margin: 0;
	
	font-size: 16px;
	font-family: Sans-Serif;
	
	color: white;
	background: linear-gradient(to top right, #240b36, #c31432);
	
	--tab-size: 4;
}

h1, h2, h3{
	text-align: center;
	margin: 0.5rem;
}
h1{
	font-size: 3rem;
}
h2{
	font-size: 2rem;
}
h3{
	font-size: 0.75rem;
	color: #fff5;
}

a{
	color: inherit;
	text-decoration: underline;
	
	transition: color 200ms linear;
}
a:hover{
	color: #fff8;
}

#Inspiration{
	display: grid;
	align-content: center;
	justify-content: center;
	
	position: relative;
}
#Inspiration > img{
	position: absolute;
	top: 3em;
	right: 20%;
	
	display: block;
	margin: auto;
	
	max-height: 0;
	transition: max-height 200ms linear;
}
#Inspiration > span{
	font-size: 2rem;
	cursor: pointer;
}
#Inspiration > span:hover + img,
#Inspiration > span:focus + img,
#Inspiration > img:hover{
	max-height: 500px;
}

main{
	width: 70vw;
	min-height: 90vh;
	margin: 5vh 0;
}

textarea{
	font-family: Monospace;
	font-size: 1rem;
	tab-size: var(--tab-size);
	
	padding: 25px 35px;
	outline: none;
	
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	
	width: 100%;
	resize: none;
	
	box-sizing: border-box;
	overflow: auto;
	
	color: inherit;
	background-color: transparent;
	
	transition:
				background-color 200ms linear,
				box-shadow 200ms linear;
}
textarea:focus{
	background-color: #0009;
	box-shadow: #fff8 0 0 10px;
}

button{
	display: inline-block;
	
	margin: auto;
	
	color: inherit;
	background-color: #0003;
	
	outline: none;
	border: 1px solid #0003;
	border-radius: 100vw;
	
	padding: 1em 2em;
	font-size: inherit;
	
	cursor: pointer;
	
	transition:
				background-color 200ms linear,
				box-shadow 200ms linear;
}
button:focus,
button:hover{
	background-color: #0009;
	box-shadow: #fff8 0 0 10px;
}

input{
	font-size: 1rem;
	
	text-align: center;
	
	padding: 0.3em 0.4em;
	outline: none;
	
	border: 3px solid transparent;
	border-radius: 15px;
	
	box-shadow: rgba(0, 0, 0, 0.25) 0 0 0 1px;
	
	color: inherit;
	background-color: transparent;
	
	transition:
				background-color 200ms linear,
				border 200ms linear;
}
input:focus{
	background-color: #0009;
	border: 3px solid #fff8;
	box-shadow: none;
}

#Code::placeholder{
	color: #fff8;
}
#Code{
	min-height: 18em;
	margin: 3em 0;
	
	overflow-y: hidden;
}

#Controls{
	display: grid;
	grid-template-columns: auto 2.5em;
	grid-gap: 1em;
	
	width: max-content;
	margin: 1em auto;
	
	font-size: 1.5rem;
	text-align: center;
}
input[type = number]{	
	font-size: inherit;
	-moz-appearance: textfield;
}
input[type = number]::-webkit-outer-spin-button,
input[type = number]::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

label{
	display: flex;
	align-items: center;
}

#Unformat{
	grid-column: 1 / span 2;
}